
/*Tom Brady IS DI GOAT */


* {
    font-family: 'Metal Mania';
}



h3 {
font-size: 25px;
color:aqua; 

}

li {
    list-style: none;
}



.blue-text {
color:burlywood;
font-style: italic;
font-weight: 700;
}